.Messages {
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 80%;
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 1%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

.userM {
  align-self: flex-end;
  background-color: rgb(168, 42, 178);
  color: white;
}

.tutorM {
  align-self: flex-start;
  background-color: hsl(33, 98%, 55%);
  color: white;
}

.word {
  cursor: pointer;
}

.translationTitle {
  margin-bottom: 10%;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  border-bottom: solid;
  border-color: white;
}

.translatedText {
  font-size: 1.5em;
}

.translationPopUp {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .translationPopUp {
  position: fixed;
      left: 1%
  }
}